body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 80%;
  padding-top: 50px;
}
button {
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  border-color: transparent;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.top-banner {
  background: url(images/5.png) no-repeat;
  background-position: cover;
}
.dream-big {
  background: url(images/3.png) no-repeat;
  background-position: right;
}
